.img{
    border-radius: 8px;
    padding: 70%;
}
.btn-primary{
    align-items: left;
}
.p{
    text-align: center;
    padding: 40%;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #382039;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
p{
    text-align: center;
}
.btn .btn-outline-danger{
    align-items: right;
}