.img{
    width: 100%;
}
.card-title{
    text-align: center;
  padding: 10px 20px;
}
.card {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    

}
 .btn-primary {
    text-align: center;
 }
 h2{
     text-align: center;
     font-weight: bold;
 }
 p{
     text-align: center;
 }
 .btn-outline-danger{
     text-align: right;
 }
 .card-deck{
    margin:80px 100px 50px 80px; 
    width: 30rem; 
    padding: "2px 20px";
 }