.fa-lock {
    width:5%;
    /* margin: 1.5em auto 4em auto;*/
    max-width: 100%;
    display: block;
    height: auto;
    font-size: 50px;
}
.fa-facebook{
    margin-right: 20px;
}
.fa-google{
    margin-right: 20px;
}
.fa-envelope-o{
    margin-right: 20px;
}
#fb {
    background:#3B5998  no-repeat 14px 6px;
    background-size: 47px;
    color:#fff;
}
#google {
    border: 1px solid #95989A;
    background: #fff   no-repeat 25px;
    background-size: 25px;
}

#email {
    background: #ECECEC   no-repeat 25px;
    background-size: 25px;
}

@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
    #fb {
        background:#3B5998;
    }

    #google {
        background: #fff;
    }

    #email {
        background: #ECECEC;
    }
}
.form-container {
    background:white;
    padding: 3.5em;
    width: 500px;
    position:fixed;
    left: 50%;
    margin-left: -250px;
}
.alc {
color:grey;
}
.cont {
    padding-top:2%;
}
.cont1{
    padding-bottom: 500%;
}