<div class="cont">
<div class="form-container">
<i class="fa fa-lock"></i>
    <span class="error" *ngIf="error">{{ error }}</span>
    <div class = "cont1">
  <button class="btn btn-block" (click)="loginFb()" id="fb"><i class="fa fa-facebook"></i>Login With Facebook</button><br>
  <button class="btn btn-block" (click)="loginGoogle()" id="google"><i class="fa fa-google"></i>Login With Google</button>
  <button class="btn btn-block" routerLink="/email" id="email"><i class="fa fa-envelope-o"></i>Email</button>

  <a routerLink="/signin" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
  </div>
</div>
</div>
<!--/container-->
<!--<h1 style="margin: 0">login</h1>
<form>
    <label for="username">username:</label><br />
    <input type="username" name="username" [(ngModel)]="input" /><br />
    <label for="password">Password:</label><br />
    <input type="password" name="password" [(ngModel)]="input" /><br />
    <button type="button" (click)="login()">Login</button>
</form>
<p>
    <a [routerLink]="['/signin']">Register</a>
</p>-->
