.form-container {
    padding: 3.5em;
    width: 500px;
    position: fixed;
    left: 50%;
    margin-left: -250px;
    background:#3b8598;
}
input.txt {
    background: #fff !important;
    padding: 1.3em 1em;
    font-size: 1.3em;
    border: 1px solid #bbb;
    box-sizing: border-box;
    width: 100%;
height: 2.4375rem;
margin: 0 0 1rem;
box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
font-family: inherit;
font-weight: 400;
color: #0a0a0a;
transition: box-shadow .5s,border-color .25s ease-in-out;
-moz-appearance: none;
}
.btn-block{
    font-family: sans-serif;
    background: #202060;
    color: white;
}
.alc{
    color: white;
}
#goback{
    color: white;
}
.cont{
    padding-top: 3%;
}
h3{
   font-family: sans-serif;
}