<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 

    <div class="btn1">
      <button (click)="logout()" class="btn-lg active" style="float: right;">Logout</button>
    </div>
<div class="img2">
<!--<img src="http://66.media.tumblr.com/b7fe0bffb05c1914772d1ccc3e7b8e77/tumblr_mimj4i295J1s0387so1_500.gif" >-->
<h3> What is a blog?</h3>
<h4>A blog is a type of website, usually maintained by an individual with regular entries of commentary, descriptions of events, or other material such as graphics or video. Entries are commonly displayed in reverse-chronological order. </h4>
</div>
<div class="background2">
<img src="//lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=d" class="background--layer tools" alt="Tools" sizes="32vw" srcset="//lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w32 32w,
                 //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w48 48w,
                 //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w64 64w,
                 //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w96 96w,
                 //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w128 128w,
                 //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w192 192w,
                 //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w256 256w,
                 //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w384 384w,
                 //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w512 512w,
                 //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w768 768w,
                 //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w1024 1024w,
                 //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w1200 1200w,
                 //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=d 1600w">
</div>
<div class="background1">
<img src="//lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=d" class="background--layer design1" alt="Preview template" sizes="(min-width: 37.5rem) 59vw, 80vw" srcset="//lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w32 32w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w48 48w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w64 64w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w96 96w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w128 128w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w192 192w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w256 256w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w384 384w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w512 512w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w768 768w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w1024 1024w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w1200 1200w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=d 1600w">

</div>   
<div class="example-container">
  <div class="example-row">
  <h3>Latest</h3>
    <div class="example-content-main"></div>
<div class="card-deck">
  <div class="card" >
    <img src="https://miro.medium.com/max/700/1*jycCYc3kLBwMzJliq8ZiYQ.jpeg" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Apple Card — Privacy vs. Ecosystem Lockdown</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://miro.medium.com/fit/c/700/210/1*XXI-kg18liPn4XcfZmoqQQ.jpeg" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Linux: A Survival Guide for Beginners</h5>
      <p class="card-text">When Apple held its event in March 2019, the only new ‘hardware’ it introduced was the Apple Card, “A titanium, laser-etched, Apple-designed credit card”, and it really caught a lot of attention.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF3XSAPTxJIOjiy2AqFVvOnAoZMSkSfuU-xmxi5whvJ6To3Gvytw" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Liberals Beware: Repealing a Law That Protects Free Speech Online Will Only Help Trump</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF3XSAPTxJIOjiy2AqFVvOnAoZMSkSfuU-xmxi5whvJ6To3Gvytw" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Liberals Beware: Repealing a Law That Protects Free Speech Online Will Only Help Trump</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div> 
<div class="gallery">
<div class="gallery-image">
  <img src="https://images.fineartamerica.com/images-medium-large-5/world-map-19-colorful-art-by-sharon-cummings-sharon-cummings.jpg"  />
  
<div class="gallery-text">

 <p>Join millions of others<br>
    Whether sharing your expertise, breaking news, or <br>
    whatever’s on your mind, you’re in good company on Blogger.<br>
     Sign up to discover why millions of people have <br>
    published their passions here.<br><br>
    <button type="button" class="btn btn">
  <a href="/blog">Create your Blog</a>
  </button>
    </p> 
</div>    
</div>  
</div>
     <div class="nav-scroller py-1 mb-2">
     <h4 class="font-italic">Elsewhere</h4>
    <nav class="nav d-flex justify-content-between">
    <i class="fa fa-twitter-square">
      <a class="p-2 text-muted" href="https://twitter.com/home">Twitter</a></i>
      <i class="fa fa-github-square">
      <a class="p-2 text-muted" href="#">Github</a></i>
      <i class="fa fa-facebook-square">
      <a class="p-2 text-muted" href="#">Facebook</a></i>
      <i class="fa fa-youtube-square">
      <a class="p-2 text-muted" href="#">Youtube</a></i>
    </nav>
  </div>
<!--
    <div class="background6">
    <img src="https://www.esomar.org/layout/js/mapsvg/maps/geo-calibrated/world-low-resolution.svg">
    <div class="text1">
    <h5>Join millions of others</h5>
    <h5>Whether sharing your expertise, breaking news, or </h5>
    <h5>whatever’s on your mind, you’re in good company on </h5>
    <h5>Blogger. Sign up to discover why millions of people have </h5>
    <h5>published their passions here.</h5>
    </div>
    </div>  -->          
</div>
</div>
